@model AirCinelMVC.Models.CreateNewAirportViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Airport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageId" />

            <partial name="_Airports" />

            <div class="col-md-4">
                <img src="@Url.Content(Model.ImageFullPath)" alt="@Model.Name" style="width: 200px; height: auto; max-width:100%;" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success shadow-lg">Back to List</a>
            </div>
        </form>
    </div>
</div>
>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
        $(document).ready(function () {
            var selectedCountry = '@Model.CountryId';
            var selectedCity = '@Model.CityId';

            function loadCities(countryId, selectedCity) {
                $("#CityId").empty();
                $.ajax({
                    url: '@Url.Action("GetCitiesAsync", "Airports")',
                    type: 'POST',
                    dataType: 'json',
                    data: { countryId: countryId },
                    success: function (cities) {
                        $("#CityId").append('<option value="0">(Select a city...)</option>');
                        $.each(cities, function (i, city) {
                            $("#CityId").append('<option value="' + city.id + '">' + city.name + '</option>');
                        });

                        if (selectedCity) {
                            $("#CityId").val(selectedCity);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Failed to retrieve cities. Error: ' + error);
                    }
                });
            }

            if (selectedCountry && selectedCountry !== "0") {
                $("#CountryId").val(selectedCountry);
                loadCities(selectedCountry, selectedCity);
            }

            $("#CountryId").change(function () {
                var countryId = $(this).val();
                if (countryId && countryId !== "0") {
                    loadCities(countryId, null);
                } else {
                    $("#CityId").empty();
                    $("#CityId").append('<option value="0">(Select a city...)</option>');
                }
            });
        });
    </script>
}

