@model IEnumerable<AirCinelMVC.Data.Entities.Flight>
@{
    ViewData["Title"] = "FlightHistory";
}

<h2>Flight History</h2>

<table class="table">
    <thead>
        <tr>
            <th>Departure Airport</th>
            <th>Arrival Airport</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Airplane</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.DepartureAirport.ImageFullPath))
                    {
                        <img src="@Url.Content(item.DepartureAirport.ImageFullPath)" alt="@item.DepartureAirport.Name" style="width: 30px; height: auto; max-width:100%;" />
                    }
                    @item.DepartureAirport.Name
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ArrivalAirport.ImageFullPath))
                    {
                        <img src="@Url.Content(item.ArrivalAirport.ImageFullPath)" alt="@item.ArrivalAirport.Name" style="width: 30px; height: auto; max-width:100%;" />
                    }
                    @item.ArrivalAirport.Name
                </td>
                <td>@item.DepartureTime</td>
                <td>@item.ArrivalTime</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Airplane.ImageFullPath))
                    {
                        <img src="@Url.Content(item.Airplane.ImageFullPath)" alt="@item.Airplane.Model" style="width: 40px; height: auto; max-width:100%;" />
                    }
                    @item.Airplane.Manufacturer @item.Airplane.Model
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Employee"))
                    {
                        <span>- ID @item.Airplane.Id</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<a href="~/Home/index" class="btn btn-primary btn-lg mt-3"><i class="fas fa-home"></i>  Return Home</a>

