@model IEnumerable<AirCinelMVC.Data.Entities.Flight>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<br />

@if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Employee"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Airplanes</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                Flight Number
                            </th>
                            <th>
                                <i class="fas fa-plane-departure"></i>  Origin
                            </th>
                            <th>
                                <i class="fas fa-plane-departure"></i>  @Html.DisplayNameFor(model => model.DepartureTime)
                            </th>
                            <th>
                                <i class="fas fa-plane-arrival"></i>  Destination
                            </th>
                            <th>
                                <i class="fas fa-plane-arrival"></i>  @Html.DisplayNameFor(model => model.ArrivalTime)
                            </th>
                            <th>
                                <i class="fas fa-plane"></i>  @Html.DisplayNameFor(model => model.Airplane)
                            </th>
                            @if(this.User.Identity.IsAuthenticated && this.User.IsInRole("Employee"))
                            {
                                <th>
                                    Airplane Id
                                </th>
                            }
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FlightNumber)
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.DepartureAirport.ImageFullPath))
                                    {
                                        <img src="@Url.Content(item.DepartureAirport.ImageFullPath)" alt="@item.DepartureAirport.Name" style="width: 30px; height: auto; max-width:100%;" />
                                    }
                                    @item.DepartureAirport.Name
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartureTime)
                                    </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ArrivalAirport.ImageFullPath))
                                    {
                                        <img src="@Url.Content(item.ArrivalAirport.ImageFullPath)" alt="@item.ArrivalAirport.Name" style="width: 30px; height: auto; max-width:100%;" />
                                    }
                                    @item.ArrivalAirport.Name
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Airplane.ImageFullPath))
                                    {
                                            <img src="@Url.Content(item.Airplane.ImageFullPath)" alt="@item.Airplane.Model" style="width: 40px; height: auto; max-width:100%;" />
                                    }
                                    @item.Airplane.Manufacturer @item.Airplane.Model
                                </td>
                                <td>
                                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Employee"))
                                    {
                                        @item.Airplane.Id
                                    }
                                </td>
                                <td>
                                            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Employee"))
                                    {
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="far fa-edit"></i></a>
                                    }
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-list"></i></a>
                                            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Employee"))
                                    {
                                            <a asp-action="Delete" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-danger" id="btnDelete"><i class="fas fa-trash"></i></a>
                                    }
                                </td>
                            </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="~/Home/index" class="btn btn-primary btn-lg mt-3"><i class="fas fa-home"></i>  Return Home</a>
</div>

<div id="deleteDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to delete this airplane?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesDelete">Delete</button>
                <button type="button" class="btn btn-success" id="btnNoDelete">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
        $(document).ready(function () {
            var id = 0;
            $('a[id*=btnDelete]').click(function () {
                id = $(this).data('id');
                $("#deleteDialog").modal('show');
                return false;
            });
            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal('hide');
                return false;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Flights/Delete/' + id;
            });
        });
    </script>

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}
